@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --green-1: #C2FFC7;
    --green-2: #8cebaa;
    --green-3: #71E796ff;
    --green-4: #59E284ff;
    --blue-1: #87a3e4;
    --blue-2: #4b68ac;
    --blue-3: #2f4a8a;
    --blue-4: #10224Dff;
    --white: #FFFFFFff;
    --slate-gray: #6B7691ff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
/* ------------------------------------| FONT FAMILY |---------------------------------------- */

/*===== All values =====*/
/*
Thin 100
Thin 100 Italic
ExtraLight 200
ExtraLight 200 Italic
Light 300
Light 300 Italic
Regular 400
Regular 400 Italic
Medium 500
Medium 500 Italic
SemiBold 600
SemiBold 600 Italic
Bold 700
Bold 700 Italic
ExtraBold 800
ExtraBold 800 Italic
Black 900
Black 900 Italic
*/

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */
/*
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/


/* ---------------------------------------------------------------------------------------- */

body{
    margin: 0;
    padding: 0;
    color: var(--blue-4);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul{
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--blue-4);
}


small{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.box{
    --radius-size: 10px;
    margin: 10px 10px;
    padding: 0px 10px;
    border-radius: var(--radius-size);
    box-shadow: calc(var(--radius-size)/2) calc(var(--radius-size)/2) var(--radius-size) #bebebe, calc(var(--radius-size)/2 * (-1)) calc(var(--radius-size)/2 * (-1)) var(--radius-size) #ffffff;
    /*
    */
}

.w-full{
    width: 100%;
}

/* -------------------------------------| HEADER |----------------------------------------- */

.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--green-2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*
    */
}

.logo{
    border-radius: 50%;
    /*
    */
}

.navbar-container{
    display: flex;
    gap: 1rem;
    background-color: var(--white);
    border-radius: 12px;
    /*
    padding: 12px 8px;
    */
}

li.navbar-list{
    list-style: none;
    padding: 12px 4px;
}

li.navbar-list a{
    text-decoration: none;
    color: var(--blue-4);
    padding: 8px 24px;
    border-radius: 8px;
}

li.navbar-list a.active{
    background-color: var(--blue-4);
    color: var(--white);
}

.options{
    border: 2px solid var(--blue-4);
    border-radius: 50%;
    padding: 8px;
}
/* ---------------------------------------------------------------------------------------- */

/* --------------------------------------| BODY |------------------------------------------ */

.main-wrapper{
    position: relative;
    top: 80px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 80px - 55px);
    /*
    background-color: var(--blue-2); 
    */
}

/* TODO : Make .menu and .main-content like .aside and .article */
.menu{
    background-color: var(--white);
    overflow-y: auto;
    /*
    */
}
@media (max-width: 768px) {
    .menu{
        display: none;
        /*
        */
    }
}

.menu{
    position: relative;
    width: 55vw;
}

.menu li{
    /* padding: 8px 12px; */
    text-wrap: nowrap;
    margin-bottom: .4em;
}

.menu a{
    padding: 8px 12px;
    border-radius: 8px;
    text-wrap: nowrap;
    display: block;
}

.menu a.active{
    font-weight: 600;
}

.menu a:hover, .menu a.active{
    color: var(--white);
    background-color: var(--blue-4);
}


.main-content{
    background-color: var(--white);
    padding: 40px;
    display: flex;
    flex-direction: row-reverse;
    overflow-y: auto;
    gap: 20px;
}

.aside, .article{
    overflow-y: auto;
}

.article{
    flex: 1;
    max-width: calc(100% - 320px);
}

.aside{
    width: 25%;
    max-width: 300px;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        padding: 20px;
    }

    .aside {
        width: 100%;
        max-width: 100%;
    }

    .article {
        max-width: 100%;
    }
}

table{
    border-collapse: collapse;
}

.table-container{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

table.table-content tr{
    height: 64px;
}

table.table-content > tbody > tr:hover{
    background-color: var(--slate-gray);
}

.document{
    max-width: 42px;
    max-height: 42px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 10px;
}

/* ---------------------------------------------------------------------------------------- */


/* -------------------------------------| FOOTER |----------------------------------------- */

.footer{
    height: 35px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /*
    background-color: var(--blue-1);
    */
}

/* ---------------------------------------------------------------------------------------- */